<h1>Create a new Book</h1>

<form action="/books" method="POST">
  <label>Author</label>
  <input name="book[author]" placeholder="Jane Doe"/>
  <label>Title</label>
  <input name="book[title]" laceholder="Life of Pi"/>
  <label>Snippet</label>
  <input name="book[snippet]" placeholder="An amazing book" />
  <input type="submit" value="Create a new Book"/>
</form>
