<h1>Creating a new Student</h1>

<form action="/students" method="POST">
  <input type="text" placeholder="Billy Bob" name="name"/>
  <input type="text" name="cohort_name"/>
  <input type="submit">
</form>
